<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zgf.itc.mapper.SignInMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zgf.itc.entity.SignIn">
        <id column="s_id" property="sId"/>
        <result column="u_id" property="uId"/>
        <result column="create_time" property="createTime"/>
        <result column="days" property="days"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        s_id, u_id, create_time, days
    </sql>
    <select id="getByDay" resultType="com.zgf.itc.entity.SignIn">
        select s_id, u_id, create_time, days
        from ic_signIn
        where u_id = #{uid}
          and to_days(now()) - to_days(create_time) = #{day}
    </select>

</mapper>
